@{
}

<section class="best">
    <div class="container">

        <div class="top">
            <h2>Best Collection</h2>
            <p>All / Bags / Dress / Decoration / Essential / Interior / Laptop / Mobile / Beauty</p>
        </div>

        <div class="cards">
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
        </div>

        <button class="btn-toggle">LOAD MORE <i class="fa-solid fa-rotate-right"></i></button>
    </div>
</section>
