@{
    var products = await productService.GetPopularProductsAsync();
}

<section class="best">
    <div class="container">

        <div class="top">
            <h2>Best Collection (Popular)</h2>
            <p>All / Bags / Dress / Decoration / Essential / Interior / Laptop / Mobile / Beauty</p>
        </div>

        <div class="cards">
            @if (products != null)
            {
                foreach (var product in products)
                {
                    <div class="card">
                        <img src="@product.Image" alt="">
                        <div class="bottom">
                            <div class="title-price">
                                <div class="card-title">@product.Name</div>
                                <div class="card-price">@product.Price $</div>
                            </div>
                            <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                        </div>
                    </div>
                }
            }
        </div>

        <button class="btn-toggle">LOAD MORE <i class="fa-solid fa-rotate-right"></i></button>
    </div>
</section>
