@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="large-card">
    <div class="top">
        <img src="./images/369x310.svg" alt="">
    </div>
    <div class="bottom">
        <h3>Table Lamp - scelerisque tempore</h3>
        <div class="price-cart">
            <p><span>$50.00</span> $30.00</p>
            <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
        </div>
    </div>
</div>
