@if (signInManager.IsSignedIn(User))
{
	<div class="d-flex m-0">
		<p>Logged in as: @User.Identity?.Name</p>
		<a asp-action="Index" asp-controller="Logout">LOG OUT</a>
	</div>
}

else
{
	<a class="link" href="./Login">LOGIN</a>
	<a class="link" href="./register">REGISTER</a>
}

