@{
}

<section class="newsletter">
    <div class="container">
        <div class="content">
            <input placeholder="Enter Your Mail Here" type="text">
            <button class="rounded-btn">Subscribe To Newsletter</button>
        </div>
    </div>
</section>
