@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="sale">
    <div class="container">
        <div class="large-cards">
            <div class="large-card">
                <div class="top">
                    <img src="./images/369x310.svg" alt="">
                </div>
                <div class="bottom">
                    <h3>Table Lamp - scelerisque tempore</h3>
                    <div class="price-cart">
                        <p><span>$50.00</span> $30.00</p>
                        <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="info-card">
                <div class="content">
                    <p class="n1">UP TO SELL</p>
                    <h2 class="n2">50% OFF</h2>
                    <p class="n3">Get The Best Price</p>
                    <p class="n4">Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki</p>
                    <a href="#" class="n5">Discover More</a>
                </div>
            </div>
            <div class="large-card">
                <div class="top">
                    <img src="./images/369x310.svg" alt="">
                </div>
                <div class="bottom">
                    <h3>Table Lamp - scelerisque tempore</h3>
                    <div class="price-cart">
                        <p><span>$50.00</span> $30.00</p>
                        <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
