@{
    var products = await productService.GetAllAsync();
}

<section class="top-selling">
    <div class="container">
        <div class="title">Top selling products in this week</div>
        <div class="cards">
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="card">
                <img src="./images/270x295.svg" alt="">
                <div class="bottom">
                    <div class="title-price">
                        <div class="card-title">Apple Watch Series</div>
                        <div class="card-price">$30.00</div>
                    </div>
                    <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="navigator">
            <button class="left"><i class="fa-regular fa-chevron-left"></i></button>
            <button class="right"><i class="fa-regular fa-chevron-right"></i></button>
        </div>
        <div class="large-cards">
            <div class="large-card">
                <div class="top">
                    <img src="./images/369x310.svg" alt="">
                </div>
                <div class="bottom">
                    <h3>Table Lamp - scelerisque tempore</h3>
                    <div class="price-cart">
                        <p><span>$50.00</span> $30.00</p>
                        <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="large-card">
                <div class="top">
                    <img src="./images/369x310.svg" alt="">
                </div>
                <div class="bottom">
                    <h3>Table Lamp - scelerisque tempore</h3>
                    <div class="price-cart">
                        <p><span>$50.00</span> $30.00</p>
                        <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="large-card">
                <div class="top">
                    <img src="./images/369x310.svg" alt="">
                </div>
                <div class="bottom">
                    <h3>Table Lamp - scelerisque tempore</h3>
                    <div class="price-cart">
                        <p><span>$50.00</span> $30.00</p>
                        <button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
