@model ContactSubmitViewModel

<!-- Advert Start -->
<div class="advert">
    <img src="./images/1920x300.svg" alt="">
</div>
<!-- Advert End -->

<!-- Contact Form Start -->
<div class="contact-box">
    <div class="container">

        <form method="post" class="contact-form" action="">
            <p>Write Something</p>
            <div class="top">
                <div class="input-field">
                    <label for="Name">Your Name*</label>
                    <input type="text" required>
                </div>

                <div class="input-field">
                    <label for="email">Your Email*</label>
                    <input type="email" required>
                </div>

            </div>
            <div class="mid">

                <div class="input-field">
                    <label for="number">Phone Number*</label>
                    <input type="tel" required>
                </div>
                <div class="input-field">
                    <label for="company">Company (optional)</label>
                    <input type="text">
                </div>

            </div>
            <div class="bot">
                <div class="comment-field">
                    <label for="comment">Comment</label>
                    <textarea class="text" type="text" required></textarea>
                    <div class="checkbox">
                        <input class="box" type="checkbox">
                        <p>Save my name, email, and website in this browser for the next time I comment.</p>
                    </div>
                </div>
            </div>
            <button class="btn-toggle">Submit</button>
        </form>
    </div>
</div>
<!-- Contact Form End -->
<!-- Map Start -->
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d32621.683772788223!2d15.221696815917962!3d59.26856756476208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1679435131184!5m2!1ssv!2sse" width="1920" height="825" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<!-- Map End -->
