@model ContactSubmitViewModel

<!-- Advert Start -->
<div class="advert">
    <img src="./images/1920x300.svg" alt="">
</div>
<!-- Advert End -->

<!-- Contact Form Start -->
<div class="contact-box">
    <div class="container">

        <form method="post" class="contact-form">
            <p>Write Something</p>
            <div asp-validation-summary="ModelOnly"></div>

            <div class="top">
                <div class="input-field">
                    <label asp-for="Name">Your Name*</label>
                    <input asp-for="Name" type="text" required>
                    <small class="text-danger"><span asp-validation-for="Name"></span></small>
                </div>

                <div class="input-field">
                    <label asp-for="Email">Your Email*</label>
                    <input asp-for="Email" type="email" required>
                    <small class="text-danger"><span asp-validation-for="Email"></span></small>
                </div>

            </div>
            <div class="mid">

                <div class="input-field">
                    <label asp-for="Phone">Phone Number*</label>
                    <input asp-for="Phone" type="tel" required>
                    <small class="text-danger"><span asp-validation-for="Phone"></span></small>
                </div>
                <div class="input-field">
                    <label asp-for="Company">Company (optional)</label>
                    <input asp-for="Company" type="text">
                    <small class="text-danger"><span asp-validation-for="Company"></span></small>
                </div>

            </div>
            <div class="bot">
                <div class="comment-field">
                    <label asp-for="Comment">Comment</label>
                    <textarea asp-for="Comment" class="text" type="text" required></textarea>
                    <div class="checkbox">
                        <input class="box" type="checkbox" disabled>
                        <p>Save my name, email, and website in this browser for the next time I comment.</p>
                    </div>
                </div>
            </div>
            <button class="btn-toggle">Submit</button>
        </form>

    </div>
</div>
<!-- Contact Form End -->
<!-- Map Start -->
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d32621.683772788223!2d15.221696815917962!3d59.26856756476208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1679435131184!5m2!1ssv!2sse" width="1920" height="825" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<!-- Map End -->
