@{
	ViewData["Title"] = "Admin Dashboard";
}

<section class="container">
	<div class="admin-title border-top d-flex justify-content-center w-100">
		<h1 class="mt-2 mb-2 d-flex justify-content-center">Admin Dashboard</h1>
	</div>
</section>
