@{
	ViewData["Title"] = "All Products";

	var products = await productService.GetAllAsync();
}


<div class="container">
	<div class="cards w-100 d-flex justify-content-between mt-2 mb-2 flex-wrap">
		@if (products != null)
		{
			foreach (var product in products)
			{
				<div class="card m-1">
					<a href="@Url.Action("Index", "details", new { id = product.Id})">
						<img src="@product.Image" alt="">
					</a>
					<div class="bottom">
						<div class="title-price">
							<div class="card-title">@product.Name</div>
							<div class="card-price">@product.Price $</div>
						</div>
						<button class="add-cart"><i class="fa-regular fa-cart-plus"></i></button>
					</div>
				</div>
			}
		}
	</div>
</div>
